.header {
    overflow: hidden;
    background-color: #dcb68a;
    height:50px;
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color:white;
    background-color:#964b00;
  }
  
  .header a:hover {
    background-color:#964b00;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
   }
  
   
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
     
    }
    
    .header-right {
      float: none;
    }
    .header-right a{
      margin-right:0px;
     }


  }