.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
.main {
  height: 100%;
  width: 100%;
}
  .flex-container > div {
    display: flex;
    background-color: #dcb68a;
    margin: 10px;
    padding: 40px;
    font-size: 30px;
    width: 500px;
  }
  .flex-container > div > .para {
    
    align-items: center;
    margin: 0 auto;
  }
  .btn1
  {  font-size: 15px;
    background-color: #964B00;
    width: 100%;
    height: 40px;
    margin-left: 5%;
    margin-top: 10%;
    color: white;
    border-color: #964B00;
  }