.tabContainer{
    flex: 5;
}

.tabbar{
    width: 100%;
}

.nav-item{
    width: 30%;
    color: white;
    background: #dac395;
    margin-left: 5px;
}

.nav-link.active{
    color: #964b00;
    background: white;
}

.tab{
    text-align: center;
    color: #964b00;
}